html,
body {
	overflow:hidden;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #000;
}

.mask {
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.mask img {
	position: absolute;
	left: 0;
	top: 0;
}

.tilt-bar {
	position: fixed;
	bottom: 30px;
	left: 10px;
	right: 10px;
	height: 1px;
	z-index: 1;
	background-color: rgba(255,255,255,0.3);
}

.tilt-indicator {
	background-color: rgba(255,255,255,0.8);
	height: 1px;
	position: absolute;
}

.mask img,
.tilt-indicator {
	-webkit-transition: -webkit-transform 0.2s linear;
	-moz-transition: -moz-transform 0.2s linear;
	-ms-transition: -ms-transform 0.2s linear;
	transition: transform 0.2s linear;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;

	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	transform: translatez(0);
}

.disable-transitions .mask img,
.disable-transitions .tilt-indicator {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	transition: none;
}

.is-resizing {
	visibility: hidden;
}